@{
    ViewData["Title"] = "Sint-Leo Pannenkoeken";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Welkom op de Pannenkoeken actie van Sint-Leo. Dit is nog maar een minimale versie. Er moet nog van alles bij, o.a.:</p>
    <ul>
        <li>Rapporten</li>
        <li>...</li>
    </ul>
</div>
