@using System.Text
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Password" Class="mr-3 mb-n1" />
            Wachtwoord resetten
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>Klik <a href="@(ResetPasswordLink)">hier</a> om het wachtwoord opnieuw in te stellen.</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Sluiten</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string ResetPasswordCode { get; set; }

    [Parameter]
    public string Email { get; set; }

    public string ResetPasswordLink
    {
        get
        {
            return $"/Account/ResetPassword?code={ResetPasswordCode}&email={Email}";
        }
    }

    private void Cancel() => MudDialog.Cancel();
}
