@page "/beheer/leden"
@using SintLeoPannenkoeken.Blazor.Client.Server
@using SintLeoPannenkoeken.Blazor.Client.Server.Contracts

@inject ServerHttpClient httpClient

<PageTitle>Leden</PageTitle>

<h1>Leden</h1>

<MudDataGrid T="LidDto" 
             Items="@_leden" 
             SortMode="SortMode.Multiple" 
             Filterable="true" 
             MultiSelection="false"
             RowsPerPage="500">
    <Columns>
        <PropertyColumn Property="x => x.Achternaam" Title="Achternaam" InitialDirection="SortDirection.Ascending" />
        <PropertyColumn Property="x => x.Voornaam" Title="Voornaam" />
        <PropertyColumn Property="x => x.TakNaam" Title="Tak" />
        <PropertyColumn Property="x => x.Functie" Title="Functie" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="ScoutsjaarDto" />
    </PagerContent>
</MudDataGrid>

@code {
    private IEnumerable<LidDto> _leden = new List<LidDto>();

    protected override async Task OnInitializedAsync()
    {
        _leden = await httpClient.GetLeden();
    }
}
