@model SintLeoPannenkoeken.ViewModels.Shared.Scoutsjaar.ScoutsjarenViewModel

<select class="pagetitle-scoutsjaarselector">
    @foreach (var item in Model.ScoutsjarenViewModels)
    {
        <option value="@item.Id" selected="@(item.Id == Model.SelectedScoutsjaarId ? "selected" : "")">@item.Begin - @item.Einde</option>
    }
</select>
