@model SintLeoPannenkoeken.ViewModels.Shared.Scoutsjaar.ScoutsjarenViewModel

<select class="pagetitle-scoutsjaarselector">
    @foreach (var item in Model.ScoutsjarenViewModels)
    {
        <option value="@item.Begin" selected="@(item.Begin == Model.SelectedScoutsjaar ? "selected" : "")">@item.Begin - @item.Einde</option>
    }
</select>