@{
    ViewData["Title"] = "Straten";
}

<div id="leden" class="container-fluid">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form id="straatForm">
        <div class="row mt-4 mb-4">
            <div class="col-2">
                <label for="zone" class="form-label">Zone</label>
                <select id="zone" class="form-select" aria-label="Zone">
                    <option value=""></option>
                    @foreach (var zone in Model.Zones)
                    {
                        <option value="@zone.Id" data-code="@zone.Naam">@zone.Naam</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <label for="naam" class="form-label">Nummer</label>
                <input type="number" class="form-control" aria-label="Nummer" placeholder="Nummer" name="nummer" id="nummer">
            </div>
            <div class="col-8">
                <label for="naam" class="form-label">Naam</label>
                <input type="text" class="form-control" placeholder="Naam" aria-label="Naam" name="naam" id="naam">
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-2">
                <label for="postNummer" class="form-label">PostNummer</label>
                <input type="number" class="form-control" placeholder="PostNummer" aria-label="PostNummer" name="postNummer" id="postNummer">
            </div>
            <div class="col-4">
                <label for="gemeente" class="form-label">Gemeente</label>
                <input type="text" class="form-control" aria-label="Gemeente" placeholder="Gemeente" name="gemeente" id="gemeente">
            </div>
            <div class="col-6">
                <label for="omschrijving" class="form-label">Omschrijving</label>
                <input type="text" class="form-control" placeholder="Omschrijving" aria-label="Omschrijving" name="omschrijving" id="omschrijving">
            </div>
        </div>
       
        <div class="row">
            <div class="col-12 mb-4">
                <button type="submit" class="btn btn-primary">Opslaan</button>
                <button type="reset" class="btn btn-secondary">Annuleren</button>
            </div>
        </div>
    </form>
    <table id="stratenTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Zone</th>
                <th>Naam</th>
                <th>PostNummer</th>
                <th>Gemeente</th>
                <th>Omschrijving</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        async function reloadStraten() {
            var response = await fetch(`/api/straten`);
            if (!response.ok) {
                // TODO: handle error
            }

            var json = await response.json();
            $('#stratenTable').DataTable({
                destroy: true,
                data: json,
                pageLength: 250,
                order: [[2, 'asc']],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'nummer' },
                    { data: 'zone' },
                    { data: 'naam' },
                    { data: 'postNummer' },
                    { data: 'gemeente' },
                    { data: 'omschrijving' }
                ]
            });
        }

        async function submitStraat() {
            var data = {
                naam: $('#straatForm #naam').val(),
                gemeente: $('#straatForm #gemeente').val(),
                postNummer: $('#straatForm #postNummer').val(),
                omschrijving: $('#straatForm #omschrijving').val(),
                nummer: $('#straatForm #nummer').val(),
                zoneId: $('#straatForm #zone').val()
            };

            var response = await fetch(`/api/straten`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                // TODO: handle error
            }

            setFocus();
        }

        function setFocus() {
            $('#straatForm #naam').focus();
        }

        function clearForm() {
            $('#straatForm')[0].reset();
        }

        $(async function () {
            $('#straatForm button.btn-primary').click(async function(event) {
                event.preventDefault();
                await submitStraat();
                await reloadStraten();
                clearForm();
            });

            await reloadStraten();
            setFocus();
        });
    </script>
}
