@using SintLeoPannenkoeken.Blazor.Client.Auth
@using SintLeoPannenkoeken.Blazor.Client.Pages
@using Microsoft.AspNetCore.Components.Routing

<div class="d-flex d-lg-none">
    <MudIconButton Icon="@Icons.Material.Rounded.Notes"
                   Color="Color.Inherit"
                   Edge="Edge.Start"
                   OnClick="DrawerToggleCallback"
                   aria-label="Toggle drawer" />
</div>
<div class="d-none d-lg-flex">
    <MudAppBar Elevation="10" Color="Color.Tertiary">
        <NavMenuItems />
    </MudAppBar>
</div>


@code {
    [Parameter]
    public EventCallback<MouseEventArgs> DrawerToggleCallback { get; set; }
}
