@{
    ViewData["Title"] = "Bestuurders";
}

<div id="bestuurders" class="container-fluid" data-scoutsjaar="@Model.Scoutsjaar.Begin">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form id="bestuurderForm">
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <label for="achternaam" class="form-label">Achternaam</label>
                <input type="text" class="form-control" placeholder="Achternaam" aria-label="Achternaam" name="achternaam" id="achternaam">
            </div>
            <div class="col-6">
                <label for="voornaam" class="form-label">Voornaam</label>
                <input type="text" class="form-control" aria-label="Voornaam" name="voornaam" id="voornaam">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <button type="submit" class="btn btn-primary">Opslaan</button>
                <button type="reset" class="btn btn-secondary">Annuleren</button>
            </div>
        </div>
    </form>
    <table id="bestuurdersTable" class="table table-striped">
        <thead>
            <tr>
                <th>Achternaam</th>
                <th>Voornaam</th>
                <th>Bestellingen</th>
                <th>Pakken</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        async function reloadBestuurders() {
            var scoutsjaar = $('#bestuurders').data('scoutsjaar');
            var response = await fetch(`/api/bestuurders/${scoutsjaar}`);
            if (!response.ok) {
                // TODO: handle error
            }

            var json = await response.json();
            $('#bestuurdersTable').DataTable({
                destroy: true,
                data: json,
                pageLength: 250,
                lengthMenu: [50, 10, 250, 500],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'achternaam' },
                    { data: 'voornaam' },
                    { data: 'aantalBestellingen' },
                    { data: 'aantalPakken' },
                    {
                        data: function (row, type, val, meta) {
                            return `
                                <a href='/Bestuurders/Rondes?bestuurderId=${row.id}&scoutsjaar=${scoutsjaar}' class='bestellingen-delete' title='Rondes' data-id='${row.id}'><i class="bi bi-car-front-fill"></i></a>
                                <a href='/Rapporten/BestuurderDetails?bestuurderId=${row.id}' title='Details'><i class="bi bi-printer-fill"></i></a>
                            `;
                        }
                    }
                ]
            });
        }

        async function submitBestuurder() {
            var data = {
                achternaam: $('#bestuurderForm #achternaam').val(),
                voornaam: $('#bestuurderForm #voornaam').val()
            };

            var response = await fetch(`/api/bestuurders`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                // TODO: handle error
            }

            setFocus();
        }

        function setFocus() {
            $('#bestuurderForm #achternaam').focus();
        }

        function clearForm() {
            $('#bestuurderForm')[0].reset();
        }

        $(async function () {
            $('#bestuurderForm button.btn-primary').click(async function(event) {
                event.preventDefault();
                await submitBestuurder();
                await reloadBestuurders();
                clearForm();
            });

            await reloadBestuurders();
            setFocus();
        });
    </script>
}
