<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SintLeoPannenkoeken.Blazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- Important: Increment the version parameter whenever you update MudBlazor to prevent caching issues -->
    <link href="_content/MudBlazor/MudBlazor.min.css?v=@(_mudBlazorVersion)" rel="stylesheet" />
    
    <HeadOutlet @rendermode="RenderModeForPage" />
</head>

<body>
    <Routes @rendermode="RenderModeForPage" />
    <script src="_framework/blazor.web.js"></script>
    <!-- Important: Increment the version parameter whenever you update MudBlazor to prevent caching issues -->
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@(_mudBlazorVersion)"></script>
    <script src="_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string _mudBlazorVersion = "x.x.x";

    protected override void OnInitialized()
    {
        // get version of MudBlazor assembly
        System.Reflection.Assembly? mudBlazorAssembly = AppDomain.CurrentDomain.GetAssemblies()
            .FirstOrDefault(assembly => assembly.GetName().Name == "MudBlazor");
        if (mudBlazorAssembly != null)
        {
            _mudBlazorVersion = mudBlazorAssembly.GetName().Version?.ToString() ?? "x.x.x";
        }
    }

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveWebAssembly;
}
