@{
    ViewData["Title"] = "Leden";
}

<div id="leden" class="container-fluid">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a class="nav-link" asp-area="" asp-controller="Leden" asp-action="Import">Import</a>
    <form id="lidForm">
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <label for="achternaam" class="form-label">Achternaam</label>
                <input type="text" class="form-control" placeholder="Achternaam" aria-label="Achternaam" name="achternaam" id="achternaam">
            </div>
            <div class="col-6">
                <label for="voornaam" class="form-label">Voornaam</label>
                <input type="text" class="form-control" aria-label="Voornaam" name="voornaam" id="voornaam">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                <label for="tak" class="form-label">Tak</label>
                <select id="tak" class="form-select" aria-label="Tak">
                    @foreach (var tak in Model.Takken)
                    {
                        <option value="@tak.Id">@tak.Naam</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label for="functie" class="form-label">Functie</label>
                <input type="text" class="form-control" aria-label="Functie" name="functie" id="functie">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <button type="submit" class="btn btn-primary">Opslaan</button>
                <button type="reset" class="btn btn-secondary">Annuleren</button>
            </div>
        </div>
    </form>
    <table id="ledenTable" class="table table-striped">
        <thead>
            <tr>
                <th>Achternaam</th>
                <th>Voornaam</th>
                <th>Tak</th>
                <th>Functie</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        async function reloadLeden() {
            var response = await fetch(`/api/leden`);
            if (!response.ok) {
                var errorMessage = await(response.text());
                alert(errorMessage);
            }

            var json = await response.json();
            $('#ledenTable').DataTable({
                destroy: true,
                data: json,
                pageLength: 250,
                lengthMenu: [50, 10, 250, 500],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'achternaam' },
                    { data: 'voornaam' },
                    { data: 'takNaam' },
                    { data: 'functie' }
                ]
            });
        }

        async function submitLid() {
            var data = {
                achternaam: $('#lidForm #achternaam').val(),
                voornaam: $('#lidForm #voornaam').val(),
                functie: $('#lidForm #functie').val(),
                takId: $('#lidForm #tak').val()
            };

            var response = await fetch(`/api/leden`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                var errorMessage = await(response.text());
                alert(errorMessage);
            }

            setFocus();
        }

        function setFocus() {
            $('#lidForm #achternaam').focus();
        }

        function clearForm() {
            $('#lidForm')[0].reset();
        }

        $(async function () {
            $('#lidForm button.btn-primary').click(async function(event) {
                event.preventDefault();
                await submitLid();
                await reloadLeden();
                clearForm();
            });

            await reloadLeden();
            setFocus();
        });
    </script>
}
