@page "/verkoop/bestellingenimport"
@using SintLeoPannenkoeken.Blazor.Client.Components
@using SintLeoPannenkoeken.Blazor.Client.Server
@using SintLeoPannenkoeken.Blazor.Client.Auth
@using SintLeoPannenkoeken.Blazor.Client.Server.Contracts

<PageTitle>Bestellingen Importeren</PageTitle>

<MudStack Row="true" Breakpoint="Breakpoint.Xs">
    <h1>Bestellingen Importeren</h1>
    <ScoutsjaarSelect Value="_selectedScoutsjaarBegin" />
</MudStack>

<div class="mt-4">

    @if (_isScoutsjaarGearchiveerd)
    {
        <MudAlert Severity="Severity.Info">Er kunnen geen wijzigingen meer gebeuren voor dit scoutsjaar omdat het gearchiveerd is.</MudAlert>
    }

    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.CloudDownload"
               Disabled="_isScoutsjaarGearchiveerd"
               OnClick="GetData"
               Class="mb-4">
        Data ophalen
    </MudButton>

    @if (_importData == null)
    {
        <MudAlert Severity="Severity.Info">Er is nog geen data opgehaald. Klik op de knop hierboven om de online bestellingen op te halen.</MudAlert>
    }
    else if (_importData.Count == 0)
    {
        <MudAlert Severity="Severity.Info">Er zijn nog geen online bestellingen.</MudAlert>
    }
    else
    {
        <MudAlert Severity="Severity.Success">Er werden @_importData.Count bestellingen opgehaald.</MudAlert>
    }

    @if (_errorMessage != null)
    {
        <MudAlert Severity="Severity.Error">Er is een fout opgetreden bij het ophalen van de data: @_errorMessage</MudAlert>
    }

    @if (_importData != null && _importData.Count > 0)
    {
        <MudDataGrid Items="_importData">
            <Columns>
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="int" Property="x => x.Id" Title="Id" />
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="string" Property="x => x.Naam" Title="Naam" />
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="string" Property="x => x.Telefoon" Title="Telefoon" />
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="string" Property="x => x.Straat" Title="Straat" />
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="int" Property="x => x.AantalPakken" Title="Aantal pakken" />
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="string" Property="x => x.Opmerkingen" Title="Opmerkingen" />
                <PropertyColumn T="PendingOnlineBestellingDto" TProperty="string" Property="x => x.Lid" Title="Lid" />
            </Columns>
        </MudDataGrid>
    }

</div>

@code {
    private IEnumerable<ScoutsjaarDto> _scoutsjaren = new List<ScoutsjaarDto>();
    private int _selectedScoutsjaarBegin;
    private bool _isScoutsjaarGearchiveerd = false;
    private IList<PendingOnlineBestellingDto>? _importData = null;
    private string? _errorMessage = null;

    [Inject]
    public IServerData ServerData { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    public CurrentScoutsjaarQuerystringParameterProvider CurrentScoutsjaarQuerystringParameterProvider { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uriBuilder.Query);
        var scoutsjaarParameter = query["scoutsjaar"];
        if (scoutsjaarParameter != null)
        {
            _selectedScoutsjaarBegin = int.Parse(scoutsjaarParameter);
        }

        _scoutsjaren = await ServerData.GetScoutsjaren();
        var selectedScoutsjaar = await CurrentScoutsjaarQuerystringParameterProvider.GetCurrentScoutsjaar();
        if (selectedScoutsjaar == null)
        {
            selectedScoutsjaar = _scoutsjaren.FirstOrDefault();
            NavigationManager.NavigateTo($"{NavigationManager.Uri}?scoutsjaar={selectedScoutsjaar!.Begin}");
        }

        _selectedScoutsjaarBegin = selectedScoutsjaar.Begin;
        _isScoutsjaarGearchiveerd = selectedScoutsjaar.Status == ScoutsjaarStatusDto.Gearchiveerd;
    }

    private async Task GetData()
    {
        _errorMessage = null;
        try
        {
            _importData = await ServerData.GetPendingOnlineBestellingen(_selectedScoutsjaarBegin);
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
}
