@model SintLeoPannenkoeken.ViewModels.Rapporten.BestuurderDetailsViewModel;
@{
    ViewData["Title"] = Model.BestuurderNaam;
}

<div id="rapporten" class="container-fluid">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>@Model.BestuurderNaam</h2>
    <table id="bestuurderTable" class="table table-hover">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Nr</th>
                <th>Bus</th>
                <th>Straat</th>
                <th>Naam</th>
                <th>Aantal</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        async function initTable(){
            var json = @Json.Serialize(Model.VwRondes);
            $('#bestuurderTable').DataTable({
                destroy: true,
                data: json,
                dom: 'Bfrtip',
                order: [[0, 'asc'], [3, 'asc'], [1, 'asc']],
                buttons: [
                    {
                        extend: 'print',
                        customize: function ( win ) {
                            $(win.document.body)
                                .prepend(
                                    '<h2>@Model.BestuurderNaam</h2>'
                                );
                            $(win.document.body).find('h1').remove();
                        }
                    }
                ],
                pageLength: 1000,
                lengthMenu: [250, 500, 1000],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'zone_naam' },
                    { data: 'huisnummer' },
                    { data: 'bus' },
                    { data: 'straatnaam' },
                    { data: 'naam' },
                    { data: 'aantalPakken' }
                ]
            });
        }
    
        $(async function () {
            await initTable();
        });
    </script>
}