@{
    ViewData["Title"] = "Rapporten";
}

<div id="rapporten" class="container-fluid">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Momenteel hebben we hier enkel de ronde lijst</p>
    <iframe 
        role="presentation"
        width="800" 
        height="600" 
        src="https://app.powerbi.com/rdlEmbed?reportId=0fa39561-a145-41ad-b267-2850e67a0ba0&ctid=c73c2f39-f506-4448-99c6-487963e03d7c&rp:Bestuurder=6&rdl:format=PDF" 
        frameborder="0" 
        allowFullScreen="true"></iframe>
</div>
