@{
    ViewData["Title"] = "Rapporten";
}

@model int

<div id="rapporten" class="container-fluid">
    <h1 class="display-4">
        @ViewData["Title"]
        @await Component.InvokeAsync("Scoutsjaar", new { selectedScoutsjaar = Model })
    </h1>
    <ul>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Rapporten" asp-action="VerkoopPerTak" asp-route-scoutsjaar="@Model">Verkoop per tak</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Rapporten" asp-action="VerkoopPerLid" asp-route-scoutsjaar="@Model">Verkoop per lid</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Rapporten" asp-action="IngaveTotalen" asp-route-scoutsjaar="@Model">Totaal ingegeven</a>
        </li>
    </ul>
</div>
