@model SintLeoPannenkoeken.ViewModels.Rapporten.VerkoopPerLidViewModel;
@{
    ViewData["Title"] = "Verkoop per lid";
}

<div id="rapporten" class="container-fluid">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    <div class="row mb-3">
        <label for="takFilter" class="col-sm-2 col-form-label">Filter op tak:</label>
        <div class="col-sm-3">
            <select id="takFilter" class="form-select">
                <option value="all">Alle</option>
            </select>
        </div>
    </div>
    <table id="verkoopPerLidTable" class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Tak</th>
                <th>Verkocht</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        async function initTable() {
            const json = @Json.Serialize(Model.LidVerkoopViewModels);
            const table = $('#verkoopPerLidTable').DataTable({
                destroy: true,
                data: json,
                dom: 'frtip',
                order: [[2, 'desc']],
                pageLength: 1000,
                lengthMenu: [250, 500, 1000],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'naam' },
                    { data: 'takNaam' },
                    { data: 'aantalPakkenVerkocht' }
                ],
                initComplete: function(settings, json) {
                    const select = $('#takFilter')
                        .on('change', function () {
                            var val = $(this).val();
                            if (val === 'all') {
                                val = '';
                            }

                            table.column(1)
                                .search(val)
                                .draw();
                        });

                    table
                        .column(1)
                        .cache('search')
                        .sort()
                        .unique()
                        .each(function (o) {
                            select.append($('<option value="' + o + '">' + o + '</option>'));
                        });
                }
            });
        }

        $(async function () {
            await initTable();
        });
    </script>
}